
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.darkmoon{
margin-bottom: 10px;
max-width: 900px;
clear: left;
}

.darkmoon ul{
padding: 0 9px 0px 5px;
margin-left: 0;
margin-top: 1px;
margin-bottom: 10px;
font: bold 12px Arial, Helvetica, sans-serif;
list-style-type: none;
text-align: center; /*set to left, center, or right to align the menu as desired*/
border-bottom: 0px;
}

.darkmoon li{
display: inline;
margin: 0;
}

.darkmoon li a{
text-decoration: none;
padding: 3px 3px 2px 3px; /*top, right, bottom, left*/
margin: 0;
margin-right: 0px; /*distance between each tab*/
border-style: none none solid none ;
color: black;
font-size: 15px;
background: url('dark1.png');

/*background: #ECEEEC url(http://www.motorera.com/theology/tabright.gif) top right no-repeat;*/
/*background: blue;*/
}

.darkmoon li a:visited{
color: black;
background: url('dark1.png');

}

.darkmoon li a:hover{
	background: url('dark2.png');
background-color: #CDDADA;
color: red;
margin-top: 100px;
}

